body {
    background-color: #ffffff;
    color: #3e3e3e;
}


/** Button */

.button {
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modalFee {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.close-buttonFee {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-buttonFee:hover {
    background-color: darkgray;
}

.hide {
    display: none;
}

.modal-contentFee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    border-radius: 0.5rem;
}

.show-modalFee {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 10px;
    /* add some padding to the left to create a visual separation between the list item and the bullet point */
}

table {
    margin: 0 auto;
    border: 1px solid black;
}

tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

textarea {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    word-break: break-all;
}

#moduletable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#moduletable td,
#moduletable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#moduletable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#moduletable tr:hover {
    background-color: #ddd;
}

#moduletable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #3e3e3e;
    color: white;
}

#feeTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#feeTable td,
#feeTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#feeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#feeTable tr:hover {
    background-color: #ddd;
}

#feeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #3e3e3e;
    color: white;
}