body {
    background-color: #c2c1be;
}

#heading{
    text-align: center;
    color: #2A3749;
    padding: 1rem;
    font:bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
}


h3 {
    color: #808080;
}
h4 {
    color: #808080;
    display: inline;
}


.table-container {
    width: 100%;
    overflow-x: auto;
}

.courses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.courses td,
.courses th {
    border: 4px solid #808080;
    padding: 8px;
    vertical-align: top;
}

.courses tr:nth-child(even) {
    background-color: #DCDCDC;
}

.courses tr{
    color: #000;
}
.courses tr:hover {
    background-color: #2A3749;
    color: #FFFFFF;
    
}

.courses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2A3749;
    color: white;
}

li {
    margin-left: 20px;
}





  #floatingButton {
    display: none;
    position: fixed;
    bottom: -4px;
    right: 10px;
    margin: 20px;
  }

  #floatingButtonDelete {
    display: none;
    position: fixed;
    bottom: -4px;
    left: 10px;
    margin: 20px;
  }

  .deleteButton:hover{
    color: #020202;
    background-color: #c90000;
    font-size: 25px;
  }
  
  .deleteButton {
    border: 2px solid #c2c1be;

    text-align: center;
    background: #2A3749;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-family: cursive;
    display: block;
    margin-left:auto;
    margin-right: auto;
  
}

.button {
    border: 2px solid #c2c1be;
    text-align: center;
    background: #2A3749;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-family: cursive;
    display: block;
    margin-left:auto;
    margin-right: auto;
  
}

.button:hover{
  color: #FFCC00;
  font-size: 25px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #2A3749;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FFCC00;
    text-decoration: none;
    font-size: 38px;
    cursor: pointer;
}

img {
    width: 50%;
    height: 50%;
    max-width: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
    margin-top: 20px;
}

img:hover {
    width: 100%;
    height: 100%;
     color: #FFCC00;
}



#chartsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.chartDesign{
    border: 1px solid #2A3749;
    width: 30%;
    min-width: 25rem;
    min-height: 25rem;
    margin: 5rem;
}
.barChartDesign{
    box-sizing: border-box;
    border: 1px solid #2A3749;
    padding: 10px;
    width: 90%;
    text-align: center;
    justify-content: space-between;
    align-self: center;
    margin-left: 5rem;
    margin-right: 5rem;
    

}

.chartTableDesign{
    box-sizing: border-box;
    border: 1px solid #2A3749;
    padding: 20px;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    

}


.chartTableDesign td,
.chartTableDesign th {
    border: 2px solid #808080;
    padding: 8px;
    vertical-align: top;
}

.chartTableDesign tr:nth-child(even) {
    background-color: #DCDCDC;
}

.chartTableDesign tr{
    color: #000;
}
.chartTableDesign tr:hover {
    background-color: #2A3749;
    color: #FFFFFF;
}

.chartTableDesign th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2A3749;
    color: white;
}

canvas{
    text-align: center;
    justify-content: space-between;
    align-self: center;
}



.info-list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li:hover .info-list {
    background-color: #FFFFFF;
    border: 2px solid #2A3749;
    color: #2A3749;
    display: block;
    position: relative;
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: -10px;
  }


